body {
  background-color: #f0f0f0;
  background-image: url("https://preview.redd.it/pokemon-anniversary-wallpaper-5120x1440-v0-2zl712jin0ga1.png?width=3440&format=png&auto=webp&s=6f4d5b2ecbba15b48b6c3bc3bfc0d778b122f175");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
}

.pokemon-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: auto;
}

.pokemon-image {
  width: 70%;
  height: 70%;
}

.pokemon-name {
  margin: 10px 0;
  color: #333;
}

.pokemon-type {
  margin: 0;
  color: #777;
}

.view-more-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #2980b9;
}

.PokeCard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* POKEMON DETAILS---------------------------------- */

.bg {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 3rem;
  height: 70vh;
}

.pokemon-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f6161a7;
  border-radius: 10px;
  padding: 2rem;
  height: auto;
}

.pokemon-img {
  width: 80%;
  height: auto;
}

.status-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6f6161a7;
  border-radius: 10px;
  padding: 4rem;
  height: auto;
}

/* .pokemon-badge {
  position: absolute;
  width: 30px;
  top: 21%;
  left: 26%;
} */

.name-id-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.name-id-type {
  text-shadow: 2px 2px black;
}

.stats {
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px black;
}

.stat-bar-container {
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 3px 0 3px 0;
}

.stat-bar {
  height: 100%;
  transition: width 0.5s ease;
}

.btn-fight {
  color: white;
  text-shadow: 2px 2px #333;
  background-color: rgba(255, 255, 255, 0.547);
  padding: 1rem;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  border: none;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}

.btn-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-results > p {
  position: absolute;
  top: 20%;
  font-weight: bolder;
  font-style: oblique;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.btn-battle {
  position: absolute;
  top: 46.7%;
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 50px;
  width: 70px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    2px 2px 5px 8px rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.714);
  cursor: pointer;
  transition: transform 0.5s;
  font-weight: bold;
}

.btn-battle:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.2em);
}

.btn-rematch {
  position: absolute;
  top: 80%;
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  --btn-default-bg: rgba(41, 41, 41, 0.339);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  /* --hover-btn-color: #fac921; */
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

.btn-rematch span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.btn-rematch span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.btn-rematch:hover,
.btn-rematch:focus {
  background: var(--btn-hover-bg);
}

.btn-rematch:hover span,
.btn-rematch:focus span {
  color: var(--hover-btn-color);
}

.btn-rematch:hover span::before,
.btn-rematch:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "Let's go!";
    right: 1;
  }
}

/* BOX SHADOW----------------------------------------------- */

.tipo-electric {
  box-shadow: 0 8px 16px rgba(248, 208, 48, 0.8);
}

.tipo-water {
  box-shadow: 0 8px 16px rgba(104, 144, 240, 0.8);
}

.tipo-fire {
  box-shadow: 0 8px 16px rgba(240, 128, 48, 0.8);
}

.tipo-grass {
  box-shadow: 0 8px 16px rgba(120, 200, 80, 0.8);
}

.tipo-ice {
  box-shadow: 0 8px 16px rgba(152, 216, 216, 0.8);
}

.tipo-fighting {
  box-shadow: 0 8px 16px rgba(192, 48, 40, 0.8);
}

.tipo-poison {
  box-shadow: 0 8px 16px rgba(160, 64, 160, 0.8);
}

.tipo-ground {
  box-shadow: 0 8px 16px rgba(224, 192, 104, 0.8);
}

.tipo-flying {
  box-shadow: 0 8px 16px rgba(168, 144, 240, 0.8);
}

.tipo-psychic {
  box-shadow: 0 8px 16px rgba(248, 88, 136, 0.8);
}

.tipo-bug {
  box-shadow: 0 8px 16px rgba(168, 184, 32, 0.8);
}

.tipo-rock {
  box-shadow: 0 8px 16px rgba(184, 160, 56, 0.8);
}

.tipo-ghost {
  box-shadow: 0 8px 16px rgba(112, 88, 152, 0.8);
}

.tipo-dark {
  box-shadow: 0 8px 16px rgba(112, 88, 72, 0.8);
}

.tipo-steel {
  box-shadow: 0 8px 16px rgba(184, 184, 208, 0.8);
}

.tipo-fairy {
  box-shadow: 0 8px 16px rgba(238, 153, 172, 0.8);
}

/* TEXT SHADOW------------------------------------------------------------- */

.text-electric {
  text-shadow: 0 8px 16px rgba(248, 208, 48, 0.8);
}

.text-water {
  text-shadow: 0 8px 16px rgba(104, 144, 240, 0.8);
}

.text-fire {
  text-shadow: 0 8px 16px rgba(240, 128, 48, 0.8);
}

.text-grass {
  text-shadow: 0 8px 16px rgba(120, 200, 80, 0.8);
}

.text-ice {
  text-shadow: 0 8px 16px rgba(152, 216, 216, 0.8);
}

.text-fighting {
  text-shadow: 0 8px 16px rgba(192, 48, 40, 0.8);
}

.text-poison {
  text-shadow: 0 8px 16px rgba(160, 64, 160, 0.8);
}

.text-ground {
  text-shadow: 0 8px 16px rgba(224, 192, 104, 0.8);
}

.text-flying {
  text-shadow: 0 8px 16px rgba(168, 144, 240, 0.8);
}

.text-psychic {
  text-shadow: 0 8px 16px rgba(248, 88, 136, 0.8);
}

.text-bug {
  text-shadow: 0 8px 16px rgba(168, 184, 32, 0.8);
}

.text-rock {
  text-shadow: 0 8px 16px rgba(184, 160, 56, 0.8);
}

.text-ghost {
  text-shadow: 0 8px 16px rgba(112, 88, 152, 0.8);
}

.text-dark {
  text-shadow: 0 8px 16px rgba(112, 88, 72, 0.8);
}

.text-steel {
  text-shadow: 0 8px 16px rgba(184, 184, 208, 0.8);
}

.text-fairy {
  text-shadow: 0 8px 16px rgba(238, 153, 172, 0.8);
}

/* POKEBALL LOADING-------------------------------------*/

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
}

.pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* POKEFIGHT------------------------------------------ */

.pokeArena {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 3rem;
  padding: 5rem;
  color: white;
  background-image: url("https://preview.redd.it/battle-arena-pokemon-v0-bi85w1h7axna1.jpg?width=1080&crop=smart&auto=webp&s=2467eb7b751818f36a5c61443bf3ebea6df7830b");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.pokeArena h2 {
  letter-spacing: 3px;
  /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.567); */
}

.myPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  border-radius: 50px;
  padding: 2rem;
  height: auto;
}

.randomPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  border-radius: 50px;
  padding: 2rem;
  height: auto;
}

.poke-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
