*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 40%;
  width: 30%;
  height: 5%;
  background:#222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navbar a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

.navbar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(20deg, #4f1919, yellow);
  border-radius: 8px;
  transition: .5s;
}

.navbar a:nth-child(1):hover~span {
  left: 28%;
}
.navbar a:nth-child(2):hover~span {
  left: 45%;
}
.navbar a:nth-child(3):hover~span {
  left: 60%;
}