.result-message {
    color: white;
    background: #000;
    padding: 10px;
    font-size: 24px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    animation: spin 2s linear infinite;
    
  }
  
  @keyframes spring {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(-5px);
    }
  }
  
  .spring-box {
    /* animation: spring 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; */
    animation: fightAnimation 1s infinite;
    transition: filter 0.3s ease-in-out;
  }
  
  .op {
    width: 100px;
    height: 100px;
  }
  

  @keyframes fightAnimation {
    0%, 100% {
      transform: scale(1) translateX(0) rotate(0deg);
      filter: brightness(150%);
    }
    25%, 75% {
      transform: scale(1.1) translateX(-5px) rotate(-5deg);
      filter: brightness(120%);
    }
    50% {
      transform: scale(1.1) translateX(5px) rotate(5deg);
      filter: brightness(120%);
    }
  }