.pokelist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listPoke {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  gap: 1rem;
}

.inputArea {
  display: flex;
  gap: 3rem;
}

.card-area {
  width: 80%;
}

.inputPoke {
  color: white;
  border: 2px solid #d6c818;
  border-radius: 10px;
  padding: 10px 65px;
  background: transparent;
  max-width: 290px;
}

.input:active {
  box-shadow: 2px 2px 15px #d6c818 inset;
}

.hidden {
  visibility: hidden;
}

.card-area {
  margin-left: 16rem;
  margin-top: 3rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination-button {
  background: linear-gradient(20deg, #4f1919, yellow);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-button:disabled {
  background-color: #e0e0e0;
  color: #888888;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
  font-size: 14px;
  color: white;
  display: inline-block;
}

.page-number {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number.active {
  background-color: #0056b3;
}

/* card styling */

.card-border {
  z-index: 0;
  position: relative;
  padding: 1rem;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(40px);
  border-radius: 0px 2rem;
  /*  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, rgb(0, 255, 213) 62%, skyblue 100%); */
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* box-shadow: 1px 1px 3rem skyblue; */
  transition: all 0.5s;
  /*  animation: pulse_3011 3s infinite; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-bg {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  border-radius: 0px 0.8rem;
  background: linear-gradient(
      346.8deg,
      #124926 30%,
      #165c30 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #124926 32%,
      #124926 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-dark {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #451c72 62%, #721f93 100%);
}

.bg-dark {
  background: linear-gradient(
      346.8deg,
      #2d123f 30%,
      #451c72 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #2d123f 32%,
      #2d123f 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-dragon {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #451c72 62%, #721f93 100%);
}

.bg-dragon {
  background: linear-gradient(
      346.8deg,
      #2d123f 30%,
      #451c72 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #2d123f 32%,
      #2d123f 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-electric {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #ffd500 62%, #ffd500 100%);
}

.bg-electric {
  background: linear-gradient(
      346.8deg,
      #c7a100 30%,
      #ffd500 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #c7a100 32%,
      #c7a100 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-fairy {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #ff82ff 62%, #ff82ff 100%);
}

.bg-fairy {
  background: linear-gradient(
      346.8deg,
      #ff50ff 30%,
      #ff82ff 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #ff50ff 32%,
      #ff50ff 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-fighting {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #a8532e 62%, #d3754d 100%);
}

.bg-fighting {
  background: linear-gradient(
      346.8deg,
      #7a3b23 30%,
      #a8532e 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #7a3b23 32%,
      #7a3b23 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-fire {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #ff7b00 62%, #ff7b00 100%);
}

.bg-fire {
  background: linear-gradient(
      346.8deg,
      #ff3e00 30%,
      #ff7b00 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #ff3e00 32%,
      #ff3e00 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-grass {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #00e600 62%, #00e600 100%);
}

.bg-grass {
  background: linear-gradient(
      346.8deg,
      #007f00 30%,
      #00e600 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #007f00 32%,
      #007f00 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-steel {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #a0a0a0 62%, #d9d9d9 100%);
}

.bg-steel {
  background: linear-gradient(
      346.8deg,
      #666666 30%,
      #a0a0a0 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #666666 32%,
      #666666 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-psychic {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #ff66ff 62%, #ff66ff 100%);
}

.bg-psychic {
  background: linear-gradient(
      346.8deg,
      #ff33ff 30%,
      #ff66ff 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #ff33ff 32%,
      #ff33ff 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-water {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #0066ff 62%, #0066ff 100%);
}

.bg-water {
  background: linear-gradient(
      346.8deg,
      #003366 30%,
      #0066ff 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #003366 32%,
      #003366 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-bug {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #4f4f2f 62%, #79794d 100%);
}

.bg-bug {
  background: linear-gradient(
      346.8deg,
      #3c3c26 30%,
      #4f4f2f 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #3c3c26 32%,
      #3c3c26 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-normal {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #999999 62%, #cccccc 100%);
}

.bg-normal {
  background: linear-gradient(
      346.8deg,
      #737373 30%,
      #999999 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #737373 32%,
      #737373 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-poison {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #aa00aa 62%, #d000d0 100%);
}

.bg-poison {
  background: linear-gradient(
      346.8deg,
      #800080 30%,
      #aa00aa 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #800080 32%,
      #800080 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-ground {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #996633 62%, #cc9966 100%);
}

.bg-ground {
  background: linear-gradient(
      346.8deg,
      #664d33 30%,
      #996633 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #664d33 32%,
      #664d33 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-ice {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #99ccff 62%, #66b2ff 100%);
}

.bg-ice {
  background: linear-gradient(
      346.8deg,
      #cceeff 30%,
      #99ccff 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #cceeff 32%,
      #cceeff 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.border-rock {
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, #b3b3b3 62%, #999999 100%);
}

.bg-rock {
  background: linear-gradient(
      346.8deg,
      #666666 30%,
      #b3b3b3 30%,
      rgba(255, 70, 84, 0) 30%,
      rgba(255, 70, 84, 0) 32%,
      #666666 32%,
      #666666 35%,
      transparent 35%
    ),
    linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.pokeName {
  display: flex;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: "Open Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  align-items: center;
  letter-spacing: 0.5rem;
}

#text-border {
  position: absolute;
  top: 15.35rem;
  left: 1.5rem;
  width: 100%;
  height: fit-content;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  background: linear-gradient(90deg, transparent 100%, #ffffff 65%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

#text-ext {
  z-index: -1;
  display: flex;
  position: absolute;
  inset: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  background: linear-gradient(
    346.8deg,
    rgb(255, 255, 255) 30%,
    #ffffff 30%,
    #ffffff 30%,
    rgb(255, 255, 255) 32%,
    rgb(255, 255, 255) 32%,
    rgb(255, 255, 255) 35%,
    transparent 35%
  );
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 9rem 0 0 0.5rem;
}

.marquee {
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  --offset: 2rem;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-85% + var(--offset));
  border-radius: 0px 1rem;
  filter: opacity(0.3);
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: slide 60s linear infinite;
  border-radius: 0px 1rem;
}

.marquee__inner {
  animation-play-state: running;
}

#blur-area {
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  /* border: 1px solid rgb(12, 255, 65); */
  border-radius: 0 1rem;
  backdrop-filter: blur(3px);
  background: linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.viper {
  display: flex;
  text-transform: uppercase;
  font-family: "Open Sans Pro", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  align-items: center;
  line-height: 0.9em;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.container-logo {
  display: flex;
  position: absolute;
  width: 3.5rem;
  height: 3em;
  top: 1rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container-logo,
.logo,
.first,
.second,
.mist-container,
svg {
  display: none; /* Remove the background elements related to Viper */
}

.card-border:hover .card-bg {
  transform: rotateY(20deg); /* Apply hover effect on the card background */
}

.logo {
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    #228647 0%,
    #fff 10%,
    #7bffac 25%,
    #0d381c 50%,
    #1ccc5d 70%,
    #69b384 90%
  );
  animation: spin 5s linear infinite;
}

.logo-inside {
  display: flex;
  width: 85%;
  height: 85%;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #212121;
}

.first,
.second {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #57ff95;
}

.first {
  clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
}

.second {
  clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
}

.mist-container {
  position: absolute;
  width: 450px;
  height: 150px;
  overflow: hidden;
  filter: blur(1rem);
  top: 60%;
  left: 0;
}

.mist {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(131, 255, 158, 0.63) 10%,
    rgba(255, 255, 255, 0) 50%
  );
  animation: mist 10s infinite both;
}

svg {
  position: absolute;
  top: 0%;
  width: 18rem;
  height: 100%;
  z-index: -2;
}

.card-border:hover {
  transform: rotateY(20deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes mist {
  0% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(0deg);
    opacity: 0.3;
  }

  50% {
    transform: translateX(0%) translateY(50%) scaleY(-10.3) rotate(20deg);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(-20deg);
    opacity: 0.3;
  }
}

@keyframes pulse_3011 {
  0% {
    box-shadow: 0 0 1rem #57ff95;
  }

  70% {
    box-shadow: 0 0 2rem #57ff95;
  }

  100% {
    box-shadow: 0 0 1rem #57ff95;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* viewmore button */

.view-more-button {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  background-color: rgba(95, 196, 255, 0);
  color: white;
  font-size: 14px;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgba(0, 0, 0, 0.679) inset;
  cursor: pointer;
}

/* .view-more-button::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
} */

.view-more-button::after {
  width: 70%;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  filter: blur(1px);
  border-radius: 50%;
}

.view-more-button:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
